pyinstaller/monterey/tmp_env

build/
dist/
*.app

sanpy_env/*
sanpy.log
sanpy/sanpy.log

.AppleDouble
.DS_Store
*.pyc
__pycache__
.pynb_checkpoints
.ipynb_checkpoints

.python-version

# files fro grainger et al
#examples

# mkdocs
docs/site

# client-server for flask-vue
flask-vue/server/flask_env
flask-vue/server/node_modules

