pandas==1.5
numpy
scipy

pyabf
tifffile
tables  # to load/save with pandas HDFStore
#boto3  # for Amazon AWS, try and remove and just install if used. 202109
scikit-image==0.19.3
h5py

qtpy
#PyQt5==5.12 # 5.12 is only version where combox boxes work # 5.15.2
PyQt5
qdarkstyle #  qdarkstyle==2.8.1
pyqtgraph
matplotlib
mplcursors #  added 202102 for bScatterPlotWidget2 (to show popup on hover)
seaborn

#XlsxWriter
#xlrd  # for loading excel files in examples/reanalyze.py
#openpyxl  # for loading .xlsx
#openpyxl  # to open newer xlsx files
