pandas
numpy
scipy
pyqtgraph
matplotlib
mplcursors # added 202102 for bScatterPlotWidget2 (to show popup on hover)

pyabf
XlsxWriter

PyQt5==5.13.0
#qdarkstyle==2.8.1
qdarkstyle

xlrd # for loading excel files in examples/reanalyze.py
openpyxl # flor loading .xlsx

seaborn

# to open newer xlsx files
openpyxl
