site_name: SanPy Documentation
site_description: Current Clamp Analysis For Cardiac Myocytes
site_author: Robert H Cudmore

repo_name: SanPy Repository
repo_url: https://github.com/cudmore/sanpy
edit_uri: ""

theme:
    name: material
    logo: 'img/sanpy-transparent.png'
    favicon: 'img/sanpy-transparent.png'
    #generator: false
    custom_dir: 'theme'

plugins:
  - search
  - autorefs
  - mkdocstrings:
      watch:
        - sanpy

extra:
  generator: false

nav:
    - Home: index.md
    - Install: install.md
    - Desktop Application: desktop-application.md
    - Web Application: web-application.md
    - API:
        - Overview: api.md
        - bAnalysis: bAnalysis.md
        - bExport: bExport.md
        - detectionParams: detectionParams.md
    - Methods: methods.md
    - Open Source: open-source.md
    - About: about.md
