# requirements for dash

gunicorn  # required to run on Heroku
wheel
dash
dash-bootstrap-components
dash-daq

boto3 # for amazon aws

# I have set this to not install desktop gui PyQt, PyQtGraph, etc
# that is done locally with "pip install -e .[gui]""
#-e git+https://github.com/cudmore/SanPy#egg=sanpy

# install from our local copy, TODO: remove -e when installing on Heroku?
# pip install -e ../.

# install a fork of pyabf that opens binary streams from a webpagee
# this works, note esc character '\' before &
# see: https://stackoverflow.com/questions/13566200/how-can-i-install-from-a-git-subdirectory-with-pip
# pip install git+https://github.com/cudmore/pyABF#egg=pyabf\&subdirectory=src
#pip install "git+https://github.com/cudmore/pyABF#egg=pyabf&subdirectory=src"

# works
#git+git://github.com/cudmore/SanPy

# 20211022
pip install -e ../.

git+git://github.com/cudmore/pyABF.git#egg=pyabf&subdirectory=src
